@keyframes pulse {
  0% {
    transform: scale(1.0)
  }
  50% {
    transform: scale(1.07)
  }
  100% {
    transform: scale(1.0)
  }
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position: relative;
  width: 6vw;
  height: 6vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 300px;
  max-height: 300px;
  margin: 25px;

  > span {
    position: absolute;
    left: -1rem;
    top: -1rem;
    font-size: 3rem;
  }
}

.focused {
  animation: pulse 1.1s infinite ease-in-out;
}

.disabled {
  background-color: gray !important;
}